@import url("https://fonts.googleapis.com/css?family=Epilogue:regular,800&display=swap");

@import url("reset.css");

.wrapper {
  min-height: 100%;
  overflow: clip;
}

.page {
}

[class*="__container"] {
  padding-inline: 15px;
  max-width: 1200px;
  margin-inline: auto;
}

.portfolio {
  background-color: #28293e;
}
.portfolio__container {
  max-width: 1470px;
}
.portfolio__cards {
  padding-block: 50px;
  font-size: 0;
}
.portfolio__card {
  /* max-width: 33.333%; */
  display: inline-block;
  padding: 16px;
  border: 1px solid #3a3c56;
}

.portfolio__card:nth-child(2n + 1),
.portfolio__card:nth-child(2n + 4) {
  margin-left: -1px;
  margin-right: -1px;
}
.portfolio__card:nth-child(3n + 2) {
  padding-inline: 15px;
}

.portfolio__content {
  display: block;
  position: relative;
  width: 448px;
  height: 576px;
}

.portfolio__content::before {
  position: absolute;
  top: 0;
  left: 0;

  content: "";
  width: 100%;
  height: 100%;
  background-color: #5c2000;
  opacity: 0.3;
}

.portfolio__content:hover::before {
  opacity: 0;
}

.portfolio__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.portfolio__label {
  position: absolute;
  left: 0;
  /* bottom: 51px; */
  bottom: 8.932%;
  /* padding-inline: 48px; */
  padding-inline: 10.714%;
  font-size: 16px;
  font-family: "Epilogue", sans-serif;
}
.portfolio__button {
  border-radius: 19px;
  background-color: #fff;
  padding: 5px 15px 1px 16px;
  line-height: 2;
  color: #391400;
}
.portfolio__button:not(:last-child) {
  margin-block-end: 24px;
}
.portfolio__button:hover {
  background-color: rgba(92, 32, 0, 0.5);
  text-decoration: underline;
  color: #fff;
}

.portfolio__title {
  font-size: 40px;
  line-height: 1.2;
  font-weight: 800;
  color: #fff;
}

.portfolio__title:hover {
  text-decoration: underline;
}

/* block-pictures */

.block-pictures {
  background-color: #28293e;
}
.block-pictures__container {
  max-width: 600px;
  padding-bottom: 500px;
}
.block-pictures__content {
  position: relative;
  /* min-height: 601px; */
  border: 1px solid red;
  padding: 100px;
}
.block-pictures__content::before{
  content: "";
  width: 370px;
  height: 370px;
  border-radius: 50%;
  background-color: #32334c;
}
.block-pictures__images {
  position: absolute;
  z-index: 20;
}

.block-pictures__image{ 
  max-width: 255px;
}

.block-pictures__images:nth-child(1) {
  top: 0;
  left: 0;
  padding-inline-start: 21px;
  padding-block-start: 24px;
}
.block-pictures__images:nth-child(1)::before{
  content: "";
  width: 246px;
  height: 182px;
  background-color: #b550f8;
  position: absolute;
  top: 123px;
  left: 0;
  z-index: -1;
  border-end-start-radius: 6px;
  border-end-end-radius: 6px;
}
.block-pictures__images:nth-child(1)::after{
  content: "";
  width: 246px;
  height: 246px;
  background-color: #b550f8;
  border-radius: 50%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.block-pictures__images:nth-child(2) {
  bottom: 0;
  right: 0;
  border-radius: 50px;
}
.block-pictures__images:nth-child(2) img{
  border-radius: 5px;
} 
.block-pictures__images:nth-child(2)::before{
  content: "";
  width: 246px;
  height: 182px;
  background-color: #f7cc47;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: -1;
  border-end-start-radius: 6px;
  border-end-end-radius: 6px;
}
.block-pictures__images:nth-child(2)::after{
  content: "";
  width: 246px;
  height: 246px;
  background-color: #f7cc47;
  border-radius: 50%;
  position: absolute;
  bottom: 59px;
  left: 0;
  z-index: -1;
}

.block-pictures__images:nth-child(3) {
  top: 68px;
  right: 190px;
}
.block-pictures__images:nth-child(3)::before{
  content: "";
  width: 112px;
  height: 112px;
  border-radius: 50%;
  background-color: #ef6d58;
  position: absolute;
  z-index: -1;
  top: -50%;
  left: -81.25%;

}